body{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.maindiv{
    display: flex;
    flex-wrap: wrap;
}
.watch{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: -5px -5px 50px blue inset, 3px 3px 50px blue;
    border-radius: 600px;
}
.watch #twelve{
    color: white;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 90px;
}
.watch #nine{
    color: white;
    margin: 0px;
    position: absolute;
    top: 90px;
    left: 0px;
}
.watch #three{
    color: white;
    margin: 0px;
    position: absolute;
    right: 0px;
    top: 90px;
}
.watch #six{
    color: white;
    margin: 0px;
    position: absolute;
    top: 180px;
    left: 93px;
}
#second{
    height: 100px;
    width: 0.5px;
    background-color: white;
    border-radius: 2px;
    transform-origin: bottom;
    position: absolute;
    left: 50%;
}
#minute{
    height: 80px;
    width: 1.5px;
    background-color: white;
    border-radius: 2px;
    transform-origin: bottom;
    position: absolute;
    left: 50%;
    top: 20px;
}
#hour{
    height: 60px;
    width: 3px;
    background-color: white;
    border-radius: 2px;
    transform-origin: bottom;
    position: absolute;
    left: 50%;
    top: 40px;
}
.text1 h1{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    padding: 0px 8px;
    font-size: 5rem;
    text-shadow: 2px 2px 10px red, 2px 2px 10px red;
}
.text h1{
    color: white;
    font-family: 'Shadows Into Light', cursive;
    padding: 0px 8px;
    font-size: 5rem;
    text-shadow: 2px 2px 10px red, 2px 2px 10px red;
}
.textdiv h1{
    display: inline;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 4.5rem;
    text-shadow: 2px 2px 10px red, 2px 2px 10px red;
}
#details{
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    color:whitesmoke; 
    font-family: monospace;
    justify-content: center;
}
#link{
    text-decoration: none; 
    color: whitesmoke; 
}
#avatar{
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}